<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <style>
        .custom-table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #000;
        }

        .custom-table th,
        .custom-table td {
            border: 1px solid #000;
            padding: 2px;
            height: 1cm;
        }

        .margin-bottom {
            margin-bottom: 40px;
        }

        .first-column {
            width: 10%;
        }

        .center-text-alignment {
            text-align: center;
        }

    </style>
    <title>Liste</title>
</head>
<body>
<h2 class="center-text-alignment">
    <span th:text="${disciplineName}"></span>
</h2>
<table class="custom-table margin-bottom">
    <thead>
    <tr>
        <th class="first-column">Nr.</th>
        <th>Spieler 1</th>
        <th>Spieler 2</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${#numbers.sequence(1, rowCount)}">
        <td class="first-column" th:text="${i}"></td>
        <td/>
        <td/>
    </tr>
    </tbody>
</table>
</body>
</html>